{% extends 'base.html' %}
{% load static %}
{% load url from future %}

{% block title %}
  Expert Sleep Spindle Task
{% endblock title %}

{% block local_script %}
    <script type="text/javascript" src="{% static 'viewer/js/eegdata.js' %}"></script>
    <script type="text/javascript" src="{% static 'viewer/js/annotator.js' %}"></script>
    <script type="text/javascript" src="{% static 'viewer/js/expert.js' %}"></script>
{% endblock local_script %}

{% block interface %}
    
    <div id="main_container" align="center">
        <div id="graph_container">
            <nav id="graph_control">
                <div id="button_container" class="container-fluid">
                    <div id="feature_panel" class="btn-group" role="group" aria-label="...">
                        <!-- Feature selection buttons inserted here by js -->
                    </div>
                    <div id="navigation_panel">
                        <div id="button_container" class="container-fluid">
                            <button type='button' class='btn btn-default' id='fastBackward' aria-label='Left Align'>
                                <span class='glyphicon glyphicon-fast-backward' aria-hidden='true'></span>
                            </button>
                            <button type='button' class='btn btn-default' id='backward' aria-label='Left Align'>
                                <span class='glyphicon glyphicon-step-backward' aria-hidden='true'></span>
                            </button>
                            <button type='button' class='btn btn-default' id='forward' aria-label='Left Align'>
                                <span class='glyphicon glyphicon-step-forward' aria-hidden='true'></span>
                            </button>
                            <button type='button' class='btn btn-default' id='fastForward' aria-label='Left Align'>
                                <span class='glyphicon glyphicon-fast-forward' aria-hidden='true'></span>
                            </button>
                            <button type='button' class='btn btn-default' id='spacer' aria-label='Left Align' disabled>
                                &nbsp;&nbsp;
                            </button>
                            <button type="button" class="btn btn-default" id="logout" aria-label="Left Align">Logout</button>
                        </div>
                    </div>
                </div>
            </nav>
            <div id="graph"></div>
        </div>
    </div>


{% endblock interface %}

