{% extends 'base.html' %}
{% load static %}
{% load url from future %}

{% block title %}
  Expert Interface 
{% endblock title %}

{% block local_script %}
	<script type="text/javascript" src="{% static 'viewer/js/eegdata.js' %}"></script>
	<script type="text/javascript" src="{% static 'viewer/js/annotator.js' %}"></script>
	<script type="text/javascript" src="{% static 'viewer/js/expert.js' %}"></script>
{% endblock local_script %}

{% block interface %}
    
    <div id="main_container" align="center">
	    <div id="graph_container"></div>
    </div>

{% endblock interface %}
