{% extends 'base.html' %}
{% load static %}
{% load url from future %}

{% block title %}
  Novice Interface 
{% endblock title %}

{% block local_script %}
  <script type="text/javascript" src="{% static 'annotation/js/influx.js' %}"></script>
  <script type="text/javascript" src="{% static 'annotation/js/annotator.js' %}"></script>
  <script type="text/javascript" src="{% static 'annotation/js/exampleSlider.js' %}"></script>
  <script type="text/javascript" src="{% static 'annotation/js/novice.js' %}"></script>
{% endblock local_script %}

{% block interface %}
  
    <div id="main_container" align="center">

      <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width: 1200px; height: 180px; margin: 0 auto">
        <!-- Indicators -->
        <ol class="carousel-indicators"></ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox"></div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      

      <div id="instruction">
      	<div id="tutorial">
      		<a href="#" onclick="window.open('/static/files/tutorial.pdf', '_blank'); return false;"><button type='button' class='btn btn-default' id='tutorial'>Tutorial</button>
      	</div>
      	<div id="examples"></div>
      </div>
      <div id="graph_container"></div>
    </div>
  
{% endblock interface %}

