#classification_panel {
  float: left;
  display: inline;
}

#graph_control {
  width: 1175px;
  margin: 0 auto;
  padding-bottom: 5px;
}


#submit_buttons {
  width: 1100px;
  margin: 0 auto;
  margin-top: 7px;
  padding-bottom: 10px;
}

.panel-heading a:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    color: grey;
}
.panel-heading a.collapsed:after {
    content:"\e080";
}

#feature_panel {
  float: left;
  display: inline;
}

#navigation_panel {
  float: right;
  display: inline;
}

#notification {
  display: inline;
}

#notification_panel {
  margin: 0 auto;
  display: inline;
}

#main_container {
  padding: 10px;
}

#button_container {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 5px;
}

#information {
  text-align: left;
  width: 1165px;
  margin-bottom: 5px;
}


#zoom-button {
  height: 34px;
  margin-right: 20px;
}

.classification.active {
  background-color: lightgrey;
}

