{% extends 'base.html' %}

{% block interface %}
    <div id="login">
        <form class="form-horizontal" name="LoginForm" action="/login/" method="post">
        {% csrf_token %}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        <div class="control-group">
            <label class="control-label" style="margin:5px" for="username">Username</label>
            <div class="controls">
                <input type="text" id="username" style="margin:5px" name="username"  placeholder="Username">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" style="margin:5px" for="password">Password</label>
            <div class="controls">
                <input type="password" style="margin:5px" name="password" id="password" placeholder="Password">
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <button type="submit" style="margin:5px" class="btn btn-default">Login</button>
            </div>
        </div>
        </form>
    </div>
{% endblock %}